.order {
    display: flex;
    border-top: 1px solid lightgray;
    margin-top: 10px;
    padding-left: 10px;
}

.order-summary {
    flex: 3;
}

.order-summary div {
    margin: 0;
}

.order-complete {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pending-orders > p {
    font-weight: bold;
    font-size: 1.2em;
    padding: .5em;
}

.completed {
    background-color: rgba(4, 229, 68, 0.84);
}